html,
body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider .slider-track .slider-track-high {
   background: #BABABA;
}

.encoderPanel .slider-wrap
{
    width: 150px;
}