html,
body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .slider-track .slider-track-high {
    background: #BABABA;
}

.slider
{
    left: -5px;
}

.muted-bar .slider-handle {
    background: grey !important;
}

.muted-bar .slider-track .slider-selection  {
    background: lightgray !important;
}

.muted-bar .slider-track .slider-track-high {
    background: lightgray !important;
}

.encoderPanel .slider-wrap {
    width: 200px;
}

.barAlign
{
    padding-top: 10px;
    text-align: center;
}

.muteBar
{
    padding-top: 10px;
    text-align: center;
}

.titleBar
{
    padding-top: 5px;
    text-align: center;
    padding-bottom: 10px;
    max-width: 200px;
}

.selectionPanel {
}

.encoderSelectButton {
    height: 55px;
    width: 195px;
    white-space: normal !important;
}

.deviceMenuList
{
    width: 200px;
}

.deviceMenuList li{
    padding: 10px;
}

.deviceMenuList li a {
    padding: 0px 5px !important;
    white-space:normal;
}